body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande", Ubuntu, Calibri, sans-serif;
  background: #f7f7f7;
  color: black;
  font-size: small;
  line-height: 1.5em; }

a {
  color: #3e4095;
  text-decoration: none; }
  a:hover {
    background: #00a859;
    color: white;
    text-decoration: none; }

h1, h2 {
  font-family: Helvetica, sans-serif;
  margin: 20px 0;
  font-weight: lighter; }

h3 {
  font-size: 1em;
  font-weight: normal;
  margin: 10px 0 0 0; }

p {
  margin: 0 0 10px 0; }

form input, form textarea {
  padding: 5px;
  margin-bottom: 10px; }

#thetable p {
  margin: 0; }

pre {
  font-size: 1.2em; }

#content {
  margin: 0;
  padding: 0;
  width: 80%;
  min-width: 800px;
  background: white;
  margin-left: auto;
  margin-right: auto; }

#header {
  background: #ffcc29;
  padding: 5px; }
  #header img {
    border: 0; }
  #header p {
    margin: 0; }

#main-content {
  padding: 10px 20px; }

#thetable a:visited {
  color: #666666; }
#thetable p {
  font-size: 0.85em;
  margin-top: 0;
  margin-bottom: 0; }

#footer {
  text-align: center;
  padding: 20px 0 10px 0; }

.breakeronly {
  margin: 0;
  padding: 0;
  height: 0;
  font-size: 0;
  clear: both; }

.mini {
  padding-left: 28px;
  color: #888888;
  font-size: 80%; }

.faded {
  color: #888888;
  margin-bottom: 3px; }

.notice {
  color: white;
  background: #00a859;
  padding: 6px;
  margin: 6px;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 0 3px #cccccc;
  -moz-box-shadow: 0 0 3px #cccccc;
  -box-shadow: 0 0 3px #cccccc; }

.error {
  background: #ff8481;
  padding: 5px;
  margin: 5px 0; }

.no_hover a:hover {
  background: none; }
