%h1
  Sobre este site
  
%p
  O 24 Notícias recebe links da comunidade de programadores de língua Portuguesa. A comunidade de usuários vota nos links. Se o link for votado rapidamente e/ou tiver muitos votos, aparece na capa. São 24 links na capa, que estão mudando sempre, devido aos votos dos usuários.
  %br
    O site não é pago nem tem propaganda.
    
%h1
  Contato

%p
  %a contato@vintenews.com

%h1
  Perguntas frequentes
  
%p 
  %strong
    Quem pode enviar notícias e comentar na notícias?
  %br
    Somente usuários cadastrados e logados no site
%p
  %strong
    Quem pode se cadastrar?
  %br
    Qualquer pessoa.
%p
  %strong
    Há regras para enviar notícias?
  %br
    Notícias sobre programação são preferidas. Mas não há regras. A comunidade de usuários do site vota para promever à capa as notícias que quiser.
%p
  %strong
    Como as notícias vão para a capa?
  %br
    As notícias mais votadas ou que recebem mais votos em menos tempo sobem no ranking e aparecem na capa.
%p
  %strong  
    Qual a relação de vocês com o Hacker News?
  %br
    A gente lê o Hacker News. E nos inspiramos nele. Só isso.  
