#thetable
  .post
    %h3
      1.
      %a{:href => "#"} ↑
      %strong
        %a{:href => "#"} Título do post publicado aqui
      (site.com)
    %p.mini
      \#pointcount# pontos — submetido por
      %a{:href => "#"} #usuario#
      há #timecount# #time# atrás —
      %a{:href => "#"} #commentcount# comentários
  .post
    %h3
      2.
      %a{:href => "#"} ↑
      %strong
        %a{:href => "#"} Specs
      (site.com)
    %p.mini
      2 pontos — submetido por
      %a{:href => "#"} luciano
      há 1 hora atrás —
      %a{:href => "#"} 0 comentários
  %h3
    %a{:href => "#"} MAIS
    %br/
    %br/
