%p
  %span{:style => "float:left;"}
    = link_to "VintenNews", root_path 
  —
  %a{:href => "#"} Mais recentes
  —
  %a{:href => "#"} Perguntas
  —
  %a{:href => "#"} Empregos
  —
  %a{:href => "#"} ENVIAR NOTÍCIA
  %span{:style => "float:right;"}
    %a{:href => "login.html"} Login